@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Digital;
  src: url("../../public/fonts/digital.woff") format("opentype");
}

@layer base {

	button,a {
		-webkit-tap-highlight-color: transparent;
	}
	
}
