@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Digital;
  src: url("../../public/fonts/digital.woff") format("opentype");
}

@font-face { 
	font-family: Palette Mosaic;
	src: url('/fonts/mosaic.ttf');
}

@layer base {

	button,a {
		-webkit-tap-highlight-color: transparent;
	}
	
}
